
  <% @cars.each do |car| %>
    <%= link_to car_path(car) do%>
      <div class="card-product">
        <% if car.image_url %>
          <%= image_tag(car.image_url, style: 'object-fit:cover;') %>
        <% else %>
          <%= image_tag('https://hsbvet.com/mm5/graphics/00000001/1/img_not_found.png', style: 'object-fit:cover;') %>
        <% end %>
        <div class="card-product-infos">
          <h2><%= car.name %></h2>
          <p>Model: <strong><%= car.model %></strong></p>
        </div>
      </div>
    <% end %>
  <% end %>
