<h2><%= @car.name %></h2>
<% if @car.image_url %>
  <%= image_tag(@car.image_url, height: '500px', width: '500px', style: 'object-fit:cover; padding-left: 16px;') %>
<% end %>
<p>Model: <%= @car.model %></p>
<p>Rs <%= @car.price %></p>

<%= link_to "Edit car", edit_car_path %>
<%= link_to "Back to index", cars_path %>
<%= link_to "Delete car entry", car_path(@car), method: :delete, data: {confirm: "Are you sure?"} %>


<h1><strong>Reviews</strong></h1>
  <ul class="list-group">
    <% @car.reviews.each do |review| %>
      <li class="list-group-item"><%= review.comment %></li>
      <li class="list-group-item"><%= 'â­' * review.rating %></li>
      <br>
    <% end %>
  </ul>


<p>Please leave a review:</p>
<%= simple_form_for [@car, @review] do |f|%>
  <%= f.input :rating, collection: 0..5 %>
  <%= f.input :comment %>
  <br>
  <%= f.submit "Submit review", class:"btn btn-primary" %>
<% end %>
<br>
<%= link_to "Back to index", cars_path %>
